In [14]:
import pandas as pd
import numpy as npy

In [15]:
df = pd.read_csv("https://docs.google.com/spreadsheets/d/1yiTNYyfjpvOmbg1_YBhTFs4vp-f8Mcc5vBoMf0a2skI/export?format=csv")
print(df)

       date attackingDistrictName defendingDistrictName attackingQuarter  \
0  01/01/01                  NICO                 NILLS                1
1  02/02/02                 KEONS                LISDEN                3
2  03/03/03                    HI                    HI               HI

  defendingQuarter
0                3
1                4
2               HI