In [3]:
import pandas as pd
import numpy as npy

df = pd.read_csv('ListoInformationSheet.csv')
df.head()

,date,attackingDistrictName,defendingDistrictName,attackingQuarter,defendingQuarter
0,01/01/01,NICO,NILLS,1,3
1,02/02/02,KEONS,LISDEN,3,4

In [6]:
npy.mean(df.attackingQuarter)

2.0